{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Registrar Solicitante
{% endblock %}

{% block styles %}

{% endblock %}

{% block nav %}

{% include 'dash_navbar.html' %}

{% endblock %}



{% block content %}

{% block messages %}
  {% include 'messages.html' %}
{% endblock %}

<div class="container mb-3 d-flex justify-content-between align-items-center">
    <h1 class="mb-3"> Registrar Solicitante </h1>
  </div>

<form action="{% url 'add_solicitante' %}" method="post">
{% csrf_token %}
{{ form|bootstrap }}

<div class="container mb-3 d-flex justify-content-between align-items-center">
    
    
    <a class="btn btn-secondary" href="{% url 'solicitud' %}" role="button">Cancelar</a>
    <button type="submit" class="btn btn-warning">Registrar</button>
  
  </div>



</form>

{% endblock %}

{% block scripts %}

{% endblock %}