{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block subtitle %} {% endblock %} - {{ project_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">--->
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static '/plugins/datetimepicker/build/css/tempusdominus-bootstrap-4.min.css' %}">

    <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
    <style>
     #content-body{
    padding-top: 40px !important;
  }

  #header-global{
    text-decoration: none;
  }

    </style>
    {% block styles %}
  
    {% endblock %}
</head>
<body>
        <header class="topbar bg-info">
                <div class="container">
                  <div class="flex-row d-flex justify-content-between align-items-center">
                      <div class="">

                        </div>
                    <div class="">
                            <a class="text-light" id="header-global" href="{% url 'solicitud' %}"><h1>Centro de Cómputo</h1></a>
                    </div>
                    <div class="" id="admin-btn-container" >
                        <a href="{% url 'dashboard' %}" class="text-right align-self-end" id="admin-btn"><i class="fas fa-cog"></i></a>
                    </div>
          
                  </div>
                </div>
            </header>

            {% block nav %}

            {% endblock %}
      
          <!-- Page Content -->
          <div class="container" id="content-body">

            {% block content %}

            {% endblock %}
          </div>

          <script src="https://code.jquery.com/jquery-3.4.0.js"
          integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
          crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
          <script src="{% static '/plugins/fontawesome/js/all.min.js' %}"></script>
          <script src="{% static '/plugins/moment/min/moment-with-locales.min.js' %}"></script>
          <script src="{% static '/plugins/datetimepicker/build/js/tempusdominus-bootstrap-4.js' %}"></script>
          
          <script src="{% static '/js/scripts.js' %}"></script>
    <!--<script src="{% static '/bootstrap/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/bootstrap/popper.min.js' %}"></script>-->

    {% block scripts %}

    {% endblock %}
</body>
</html>