{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}
{% load tz %}

{% block subtitle %}
Dashboard
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/countdown/css/jquery.countdown.css' %}" >
{% endblock %}

{% block nav %}

{% include 'dash_navbar.html' %}

{% endblock %}

{% block content %}



{% include 'messages.html' %}



  

<div class="prestamos">

    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <input type="search" id="search" value="" class="form-control" placeholder="Buscar...">
        </div>
      </div>

    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            
        </div>
      </div>
  <ul class="nav nav-tabs flex-fill justify-content-center bg-light" id="myTab" role="tablist">
      <li class="nav-item">
          <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="false">Todos</a>
        </li>
  </ul>
<div class="tab-content " id="myTabContent">

    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
        <table class="table text-center table-hover" id="prestamo-table" cellpadding="10">
            <thead>
              <tr>
                <th scope="col">No. Registro</th>
                <th scope="col">Fecha</th>
                <th scope="col">Nombre Solicitante</th>
                <th scope="col">No. Control</th>
                <th scope="col">Carrera</th>
                <th scope="col">Razon Uso</th>
              </tr>
            </thead>
            <tbody>
              {% for registro in registros %}
              
 
                <tr class="clickable-row table-primary" data-href="#">

                  <td scope="row">{{ registro.id }}</td>
                  <td>{{ registro.fecha_hora }}</td>
                  <td>{{ registro.solicitante.nombre }} {{ registro.solicitante.ap_pat }} {{ registro.solicitante.ap_mat }}</td>
                  <td>{{ registro.solicitante.matricula }}</td>
                  <td>{{ registro.solicitante.carrera }}</td>
                  <td>{{ registro.razon_uso }}</td>
                </tr>
              
              {% endfor %}
            </tbody>
          </table>

    </div>


</div>


{% endblock %}

{% block scripts %}
<script src="{% static 'plugins/countdown/js/jquery.plugin.js' %}"></script>
<script src="{% static 'plugins/countdown/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'plugins/jquery-searchable/jquery.searchable.js' %}"></script>

<script type="text/javascript">
  $(function () {
    $( '.table' ).searchable();
  });
</script>
<script>
  function incidencia_confirm() {
    confirm("Desea marcarlo como incidencia?");
  }
</script>

{% endblock %}