{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Proyectores
{% endblock %}

{% block styles %}
<style>

</style>
{% endblock %}

{% block nav %}

{% include 'dash_navbar.html' %}

{% endblock %}

{% block content %}


{% include 'messages.html' %}

<h1 class="mb-5"> Proyectores </h1>

<div class="container">
        <div class="row">
        {% for proyector in todos %}
          <div class="col-lg">
           
                <div class="card text-center mb-4">
                        <div class="card-header">
                         Proyector {{ proyector.id_proyector }}
                        </div>
                        <div class="card-body">
                          <p class="card-text">{{proyector.descripcion}}</p>
                          {% if proyector.disponible %}
                          <form action ="{% url 'proyector_status_update' proyector.id_proyector %}" method="POST">
                            {% csrf_token %}
                            <input class="btn btn-warning" type="submit" name="submit" value="Marcar como No disponible" />
                          </form>
                          {% else %}
                          <form action ="{% url 'proyector_status_update' proyector.id_proyector %}" method="POST">
                                {% csrf_token %}
                                <input class="btn btn-success" type="submit" name="submit" value="Marcar como Disponible" />
                              </form>
                          {% endif %}
                        </div>
                        {% if proyector.disponible %}
                        <div class="card-footer bg-success text-light">
                          Disponible
                        </div>
                          {% else %}
                        <div class="card-footer bg-danger text-light">
                         No Disponible
                        </div>
                        {% endif %}
                        
                </div>
                
          </div>
          {% endfor %}
          
        </div>
</div>

{% endblock %}

{% block scripts %}

<script>
$('.nav.navbar-nav > li').on('click', function (e) {
    
    $('.nav.navbar-nav > li').removeClass('active');
    $(this).addClass('active');
});

</script>

{% endblock %}