{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Registro
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}


{% include 'messages.html' %}


<div class="container text-center">

        <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#registroModal">
            Registrarse <i class="fas fa-sign-in-alt"></i>
        </button>

<!-- Modal -->
<div class="modal fade" id="registroModal" tabindex="-1" role="dialog" aria-labelledby="registroModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registroModalLabel">Registro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <form class="site-form" action="{% url 'solicitud' %}" method="POST">
                        {% csrf_token %}
                        <table>
                                <div class="form-group">
                                        <label for="matricula-solicitante">No. Control</label>
                                        <input type="text" name="solicitante" class="form-control" id="matricula-solicitante" placeholder="No. Control" required>
                                    </div>
                                    {{ form.razon_uso|bootstrap}}
                            
                           
                           {% if request.GET.next %}
                            <input type="hidden" name="next" value="{{ request.GET.next }}">
                    
                            {% endif %}
                            <tr>
                               <td></td>
                               
                           </tr>
                        </table>
                    
        </div>
        <div class="modal-footer">
        
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Registrar</button>
        </div>

    </form>
      </div>
    </div>
  </div>


</div>



{% endblock %}

{% block scripts %}


<script type="text/javascript">
  $(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
<script>
function devolucion_confirm() {
  confirm("Desea realizar la devolucion del proyector?");
}
</script>
{% endblock %}