.topbar{
    background-color: #212529;
    padding: 0;

  }
  
  .topbar .container .row {
    margin:0px;
    padding:0;
  }
  
  .topbar .container .row .col-md-12 { 
    padding:0;
  }
  
  .topbar span{
    margin:10px;
    display:inline-block;
    font-size: 13px;
    color: #f1f6ff;
  }
  
  .topbar p > i{
    margin-right:5px;
  }
  .topbar p:last-child{
    text-align:right;
  }




 
  
 