{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Login
{% endblock %}

{% block styles %}
<style>

</style>
{% endblock %}

{% block content %}

{% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <ul>

        {% for error in form.non_field_errors %}

        <li>{{ error|escape }}</li>

        {% endfor %}
    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if messages %}


      {% for message in messages %}
      {% if message.tags == 'warning' %}
      <div class="alert alert-warning alert-dismissible fade show align-self-center" role="alert">
        {% elif message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show align-self-center" role="alert">
        {% elif message.tags == 'success' %}
        <div class="alert alert-success alert-dismissible fade show align-self-center" role="alert"></div>
          {% else %}
          <div class="alert alert-primary alert-dismissible fade show align-self-center" role="alert">
            {% endif %}
            <ul>
              <li>{{ message }}</li>
            </ul>
      
      
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
{% endif %}

<h1>Iniciar Sesión</h1>

<form method="POST" action="{% url 'accounts:login' %}" >
    {% csrf_token %}
    <table>
       {{ form|bootstrap }}
       {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">

        {% endif %}
        <tr>
           <td></td>
           <td><input class="btn btn-primary" type="submit" name="submit" value="Iniciar Sesión" /></td>
       </tr>
    </table>
</form>

{% endblock %}